.login-container {
  min-height: 100vh;
  background-color: #f0f4f8;
  position: relative;
  overflow: hidden;
}

.text-primary-blue {
  color: #004691;
}

.custom-input {
  border: 2px solid #e9ecef;
  border-radius: 0 10px 10px 0;
  padding: 10px;
  transition: all 0.3s;
}

.custom-input-icon {
  border: 2px solid #e9ecef;
  border-radius: 10px 0 0 10px;
  color: #004691;
}

.custom-input:focus,
.custom-input:focus + .custom-input-icon {
  border-color: #004691;
  box-shadow: none;
  background-color: #fff !important;
}

.btn-blue {
  background-color: #004691;
  color: white;
  border: none;
  border-radius: 10px;
  transition:
    transform 0.2s,
    background-color 0.2s;
}

.btn-blue:hover {
  background-color: #0067d6;
  transform: translateY(-1px);
  color: white;
}

.btn-blue:disabled {
  background-color: #b1d6ff;
}

/* اللينك */
.hover-link:hover {
  text-decoration: underline !important;
  color: #0056b3 !important;
}

.animation-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.moving-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 150px;
  z-index: 1;
  opacity: 0;
}

.before-img {
  animation: moveBefore 10s ease-in-out infinite;
}

.after-img {
  animation: moveAfter 10s ease-in-out infinite;
}

@keyframes moveBefore {
  0% {
    left: -200px;
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  50% {
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes moveAfter {
  0% {
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  50% {
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  100% {
    left: calc(100% + 200px);
    opacity: 1;
  }
}

.text-blue {
  color: #004691;
}
.text-pink {
  color: #ff1493;
}
