<div class="container mt-5">
  <div class="card shadow-sm overflow-hidden border-0">
    <div class="card-header bg-white py-3 border-bottom d-none d-lg-block">
      <div class="row fw-bold text-muted small text-uppercase letter-spacing">
        <div class="col-4">Date & Time</div>
        <div class="col-5">Doctor</div>
        <div class="col-3 psts">Status</div>
      </div>
    </div>

    <div>all</div>
    <div class="card-body p-0">
      @if(allappointments && allappointments.length > 0){
      @for (item of allappointments; track item.id) {
      <app-appointment-card [appointment]="item"></app-appointment-card>
      }
      } @else {
      <div class="text-center py-5 bg-light">
        <i class="bi bi-calendar-x text-muted display-4"></i>
        <p class="mt-3 text-secondary">No appointments found.</p>
      </div>
      }
    </div>


    <div>past</div>
    <div class="card-body p-0">
      @if(pastAppointments && pastAppointments.length > 0){
      @for (item of pastAppointments; track item.id) {
      <app-appointment-card [appointment]="item"></app-appointment-card>
      }
      } @else {
      <div class="text-center py-5 bg-light">
        <i class="bi bi-calendar-x text-muted display-4"></i>
        <p class="mt-3 text-secondary">No appointments found.</p>
      </div>
      }
    </div>

    <div>upcomingAppointments</div>
    <div class="card-body p-0">
      @if(upcomingAppointments && upcomingAppointments.length > 0){
      @for (item of upcomingAppointments; track item.id) {
      <app-appointment-card [appointment]="item"></app-appointment-card>
      }
      } @else {
      <div class="text-center py-5 bg-light">
        <i class="bi bi-calendar-x text-muted display-4"></i>
        <p class="mt-3 text-secondary">No appointments found.</p>
      </div>
      }
      <div>todayAppointments</div>
    <div class="card-body p-0">
      @if(todayAppointments && todayAppointments.length > 0){
      @for (item of todayAppointments; track item.id) {
      <app-appointment-card [appointment]="item"></app-appointment-card>
      }
      } @else {
      <div class="text-center py-5 bg-light">
        <i class="bi bi-calendar-x text-muted display-4"></i>
        <p class="mt-3 text-secondary">No appointments found.</p>
      </div>
      }
    </div>
  </div>
</div>
